# Generated static site
_site

*.nogit
*.old

# OS Files
Thumbs.db
.DS_Store

# Node modules 
node_modules/*

!node_modules/bootstrap/
node_modules/bootstrap/*
!node_modules/bootstrap/dist/

!node_modules/bootstrap-less/
node_modules/bootstrap-less/*
!node_modules/bootstrap-less/bootstrap/

!node_modules/moment/
node_modules/moment/*
!node_modules/moment/min/

!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/*/dist/

# node.js
uploads
db

.jekyll-cache